{% extends "@App/default/index.html.twig" %}

{% block title %}New Article{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">

        {{ form_start(form) }}
        {{ form_label(form.route) }}
        {{ form_widget(form.route) }}
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}